@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1A1A1A;
  --primary: #FFDD00;
  --primary-dark: #FFC700;
  --primary-light: #FFF5CC;
  --primary-accent: #FFB800;
  --neutral: #1A1A1A;
  --neutral-dark: #000000;
  --neutral-light: #2D2D2D;
  --neutral-gray: #ADADAD;
  --neutral-light-gray: #F5F5F5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-primary-accent: var(--primary-accent);
  --color-neutral: var(--neutral);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-gray: var(--neutral-gray);
  --color-neutral-light-gray: var(--neutral-light-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F5F5F5;
    --primary: #FFDD00;
    --primary-dark: #FFB800;
    --primary-light: #FFF5CC;
    --primary-accent: #FFC700;
    --neutral: #F5F5F5;
    --neutral-dark: #ADADAD;
    --neutral-light: #FFFFFF;
    --neutral-gray: #2D2D2D;
    --neutral-light-gray: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
